
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium', sans-serif;
    margin: 0 150px;
}

p {
    font-family: 'GmarketSansMedium', sans-serif;
}

/********************* 배너 설정 *************************/
.header-container {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

h1 {
    text-align: center;
    padding: 10px;
    color: #000000;
    font-size: 50px;
    flex: 1 0 auto;
    margin-left: 210px;
}

.dsl{
    width: 105px;
    height: 60px;
    margin-right: 100px; 
    float: right; 
    flex: 0 1 auto; 
}
.texttag{
    color:rgb(80, 90, 226);
    margin: 0 100px;
    margin-bottom: 20px;
}


h2{ color:#000000 ;
    font-size: 30px;
    margin: 30px 100px;
}

/********************* 식당 리스트 설정 *************************/
.list {
    background: #ebefff;
    border-radius: 40px;
    list-style-type: none;
    padding: 0;
    border: 1px solid #ffffff;
    margin:0 100px;
    max-height: 300px;
    overflow-y: auto; /* 스크롤을 가능하게 하면서 */
}

/* 웹 브라우저별로 스크롤바를 숨기는 스타일 */
/* Chrome, Edge, Safari */
.list::-webkit-scrollbar {
    display: none; /* 스크롤바를 화면에 표시하지 않음 */
}

/* Firefox */
.list {
    scrollbar-width: none; /* Firefox에서 스크롤바를 숨깁니다 */
}

.list li {
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
    border-bottom: 1px solid #ddd;
}

.list a {
    text-decoration: none;
    color: #000000;
    display: block;
}

.list li:hover {
    background-color: #f0f0f0;
}


/********************* 이미지 리스트 설정 *************************/

h3{ color:#000000 ;
    font-size: 30px;
    margin-left: 100px;
}


.imgList {
    margin: auto; /* 가로축에서 중앙 정렬 */
    background: #ebefff;
    border-radius: 40px;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
	width: 84%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.imgC {
    background: #fcfcf4;    
    width: 300px;
    height: 300px; 
    border-radius: 100%;
    border: none; 
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.imgC:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 변경 */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 효과 강화 */
}

.listtext{
    color:rgb(30, 29, 83);
    font-size: 20px;}

.imgD {
    width: 110%;
    text-align: center;
    align-content: center;
    border-radius: 10%;
    height: 82%;
    object-fit: cover;
}
.img_describe {
    background-color: #fffde8;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.img_describe p {
    margin: 10px 0;
}


.img_describe p:not(:first-child) {
    margin-top: 5px;
}

.img_describe p:last-child {
    margin-bottom: 0;
}
