<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Stacked Bar Chart</title>
</head>

<body>

<span class="bar-chart" >
  <span class="bar bar-yellow" style="width: 87.9%;">87.9%</span>
  <span class="bar bar-gray" style="width: 12.1%;">12.1%</span>
</span>

<span class="bar-chart">
  <span class="bar bar-yellow" style="width: 87.9%;">87.9%</span>
  <span class="bar bar-gray" style="width: 12.1%;">12.1%</span>
</span>

<span class="bar-chart">
  <span class="bar bar-yellow" style="width: 87.9%;">87.9%</span>
  <span class="bar bar-gray" style="width: 12.1%;">12.1%</span>
</span>

</body>
</html>
