<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>진실의입</title>
        <link rel="stylesheet" href="/static/css/main_page.css">
        <script src="https://kit.fontawesome.com/b77a7bd16e.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="header-container">
            <h1>
                <i class="fa-solid fa-utensils"></i>
                진실의 입
                <i class="fa-solid fa-bowl-food"></i>
            </h1>
            <img class="dsl" src="/static/image/dsl.png" alt="dsl">
        </div>
        

        <div class="texttag">
            <span> Data Science Laby NLP 2조의 네이버 식당 리뷰 감정분석 및 요약 서비스 프로젝트의 구현화면입니다. </span><br>
            <span> 모델 정보는 github 주소를 참조해 주세요</span><a href="https://github.com/Chaemin-Hwang/modeling_website.git"> github 바로가기</a>
        </div>

        
        
        <p class="문단2">
            <h3>신촌지역 인기 맛집 TOP3</h3>
            <div class="imgList">
                <div class="image-container">
                    <button id="정통집Button" class="imgC">
                        <img class="imgD" src="/static/image/정통집1.jpg" alt="정통집">
                        <p class="listtext">정통집</p>
                    </button>
                    <div class="img_describe">
                        <p><i class="fa-solid fa-tags"></i> 돼지고기구이</p>
                        <p><i class="fa-solid fa-location-dot"></i> 서울 서대문구 연세로9길 7 1층</p>
                    </div>
                </div>
        
                
                <div class="image-container">
                    <button id="쭈꾸미Button" class="imgC">
                        <img class="imgD" src="/static/image/쭈꾸미블루스1.jpg" alt="쭈꾸미블루스">
                        <p class="listtext">쭈꾸미블루스</p>
                    </button>
                    <div class="img_describe">
                        <p><i class="fa-solid fa-tags"></i> 날치알쌈과 매운 쭈꾸미</p>
                        <p><i class="fa-solid fa-location-dot"></i> 서울 마포구 백범로1길 21</p>
                    </div>
                </div>
                
                <div class="image-container">
                    <button class="imgC" onclick="이동()">
                        <img class="imgD" src="/static/image/1987피자.jpg" alt="1987피자">
                        <p class="listtext">1987피자</p>
                    </button>
                    <div class="img_describe">
                        <p><i class="fa-solid fa-tags"></i> 저렴한 피자와 맥주집</p>
                        <p><i class="fa-solid fa-location-dot"></i> 서울 서대문구 연세로11길 26 지하1층</p>
                    </div>
                </div>
            </div>
        </p>



        <p class ="문단3">
            <h2>신촌 식당리스트 <i class="fa-solid fa-list"></i></h2>
            <div class="lists-container">
                <div class="list-wrapper">
                    <ul class="list list-left">
                        <li><a href="/review_page_정통집">정통집</a></li>
                        <li><a href="/review_page_쭈꾸미">쭈꾸미블루스</a></li>
                        <li><a href="#">샤브로21</a></li>
                        <li><a href="#">신촌고기창고</a></li>
                        <li><a href="#">아소비바</a></li>
                        <li><a href="#">도토리칼국수</a></li>
                        <li><a href="#">소신이쏘</a></li>
                        <li><a href="#">카츠업</a></li>
                        <li><a href="#">소담식당</a></li>
                        <li><a href="#">담산</a></li>
                        <li><a href="#">여우골</a></li>
                        <li><a href="#">1987피자</a></li>
                        <!-- 기타 리스트 아이템 -->
                    </ul>
                </div>
            </div>
        </p>

        <script src="/static/javascript/main_page.js"></script>

    </body>
</html>



