<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/review_page.css">
        <script src="https://kit.fontawesome.com/b77a7bd16e.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="logo">
            <h2>
                <i class="fa-solid fa-utensils"></i>
                <span><a href="/main_page" style="text-decoration: none; color: inherit;">진실의 입</a></span>
                <i class="fa-solid fa-bowl-food"></i>
            </h2>
        </div>
        
        <div class="image-container">
            <img src="/static/image/쭈꾸미블루스1.jpg" alt="Image 1">
            <img src="/static/image/쭈꾸미블루스2.jpg" alt="Image 2">
            <img src="/static/image/쭈꾸미블루스3.jpg" alt="Image 3">
            <img src="/static/image/쭈꾸미블루스4.jpg" alt="Image 4">
            <img src="/static/image/쭈꾸미블루스5.jpg" alt="Image 5">
        </div>

        <div class="sikdang_name">
            <h1>
                쭈꾸미블루스 신촌본점
            </h1>
        </div>

        <div class="sikdang_inform">
            <h3>
                주꾸미요리<br>
                서울 마포구 백범로1길 21
            </h3>
        </div>

        
        <div class="review-container">
            <div class="box_txt">
                <div class="emoji"></div>
                <div class="gpt_txt">ChatGPT로 네이버 리뷰를 요약했어요.</div>
            </div>
            <div class="select_box">
                <div id="positive_Buttons" class="selected">
                    <button onclick="showReview('positive')">긍정 리뷰 요약</button>
                </div>
                <div id="negative_Buttons" class="selected">
                    <button onclick="showReview('negative')">부정 리뷰 요약</button>
                </div>
            </div>
            <div id="reviews">
                <div id="positive" class="review" style="display:block;">
                    <p>
                        (1) 쭈꾸미는 탱글탱글하고 매콤한데 적당해요. 사장님이 친절하시고, 삼겹살과 볶음밥도 맛있어요.<br> 
                        
                        (2) 맵찔이도 맛있게 먹을 수 있고, 셀프바도 편리해요.<br>

                        (3) 쭈꾸미와 삼겹살, 깻잎, 김, 마요네즈 등의 조합이 미쳤고, 치즈볶음밥과 계란찜도 완벽해요.<br>
                        
                        (4) 가게 분위기는 레트로하고, 쭈살이 큼직하고 매콤합니다. 계란찜이 리필돼서 더 좋았고, 소주도 잘 어울렸어요.<br> 
                        
                        (5) 쭈삼과 치즈볶음밥, 계란찜을 풀코스로 즐길 수 있고, 매운 맛으로 여러 사람들이 찾는 인기 맛집입니다.</p>
                </div>
                <div id="negative" class="review" style="display:none;">
                    <p>
                        (1) 매콤한 쭈꾸미는 맛있지만 직원 응대와 서비스가 별로예요.<br> 

                        (2) 음식의 양이 적고 주차가 불편해요.<br>
                        
                        (3) 화장실 상태도 좋지 않고 위생에 문제가 있어요.<br> 
                        
                        (4) 고추장에서 머리카락이 나오는 등 음식의 위생이 부족해요.<br>
                        
                        (5) 전반적으로 맛과 서비스 모두 기대에 못 미치는 경험이었어요.
                        
                    </p>
                </div>
            </div>
            <p id="view-all-reviews">후기 전체보기</p>
        </div>

        
        
        <div class="content-wrapper">
            <div class='graphset'>
                <span class='graph'>
                    <canvas id="triangleChart" width="500" height="500"></canvas>
                    <script src="/static/javascript/graph_쭈꾸미.js" type="text/javascript"></script>
                </span>
            </div>
            <div class="describe_graph">
                <span class="highlight">"맛</span>은 훌륭하지만 <span class="highlight">서비스</span>가 별로에요<span class="highlight">"</span>
            </div>
        </div>
        

        <script src="/static/javascript/review_page_쭈꾸미.js"></script>

    </body>
    
</html>