<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/review_page.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/b77a7bd16e.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="logo">
            <h2>
                <i class="fa-solid fa-utensils"></i>
                <span><a href="/main_page" style="text-decoration: none; color: inherit;">진실의 입</a></span>
                <i class="fa-solid fa-bowl-food"></i>
            </h2>
        </div>
        
        <div class="image-container">
            <img src="/static/image/쭈꾸미블루스1.jpg" alt="Image 1">
            <img src="/static/image/쭈꾸미블루스2.jpg" alt="Image 2">
            <img src="/static/image/쭈꾸미블루스3.jpg" alt="Image 3">
            <img src="/static/image/쭈꾸미블루스4.jpg" alt="Image 4">
            <img src="/static/image/쭈꾸미블루스5.jpg" alt="Image 5">
        </div>

        <div class="sikdang_name">
            <h1>
                <a href="/review_page_쭈꾸미" style="text-decoration: none; color: inherit;">쭈꾸미블루스 신촌본점</a>
            </h1>
        </div>

        <div class="sikdang_inform">
            <h3>
                주꾸미요리<br>
                서울 마포구 백범로1길 21
            </h3>
        </div>



        <div id="reviews-container"></div>

        <script src="/static/javascript/review_moa_쭈꾸미.js"></script>
        

    </body>
    
</html>